@{ Layout = null;}
<h2>Panda doc integrated page</h2>
<div>Panda Document loads here for signature ... </div>
<iframe src="@("https://app.pandadoc.com/s/"+ViewBag.SessionId+"/")" height="100%" width="100%"></iframe>
